In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#Read the dataset
df = pd.read_csv('df.csv')

In [3]:
# Display basic information about the df set
print("Basic Information:")
print(df .info())

Basic Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 226486 entries, 0 to 226485
Data columns (total 6 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Unnamed: 0      226486 non-null  int64
 1   date            226486 non-null  object
 2   category_id     226486 non-null  int64
 3   sku_id          226486 non-null  int64
 4   sales_price     226486 non-null  float64
 5   sales_quantity  226486 non-null  float64
dtypes: float64(2), int64(3), object(1)
memory usage: 10.4+ MB
None

In [4]:
# Display the first few rows of the dataset
print("\nFirst few rows:")
print(df.head())

First few rows:
   Unnamed: 0        date  category_id  sku_id  sales_price  sales_quantity
0       78161  2016-11-25            7    1108       457.60             1.0
1       81079  2016-11-18            7    2999       470.60             1.0
2       81177  2016-11-18            7    1428       717.60             1.0
3       81292  2016-11-18            7    3923       383.50             1.0
4       81416  2016-11-18           17    8075        18.85             2.0

In [7]:
# Check for missing values
print("\nMissing values in each column:")
print(df.isnull().sum())

Missing values in each column:
Unnamed: 0        0
date              0
category_id       0
sku_id            0
sales_price       0
sales_quantity    0
dtype: int64