In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### EDA

In [13]:
#Read the dataset
df = pd.read_csv('df.csv')

In [14]:
# Display basic information about the df set
print("Basic Information:")
print(df .info())

Basic Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 226486 entries, 0 to 226485
Data columns (total 6 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Unnamed: 0      226486 non-null  int64
 1   date            226486 non-null  object
 2   category_id     226486 non-null  int64
 3   sku_id          226486 non-null  int64
 4   sales_price     226486 non-null  float64
 5   sales_quantity  226486 non-null  float64
dtypes: float64(2), int64(3), object(1)
memory usage: 10.4+ MB
None

In [15]:
# Display the first few rows of the dataset
print("\nFirst few rows:")
print(df.head())

First few rows:
   Unnamed: 0        date  category_id  sku_id  sales_price  sales_quantity
0       78161  2016-11-25            7    1108       457.60             1.0
1       81079  2016-11-18            7    2999       470.60             1.0
2       81177  2016-11-18            7    1428       717.60             1.0
3       81292  2016-11-18            7    3923       383.50             1.0
4       81416  2016-11-18           17    8075        18.85             2.0

In [16]:
# Check for missing values
print("\nMissing values in each column:")
print(df.isnull().sum())

Missing values in each column:
Unnamed: 0        0
date              0
category_id       0
sku_id            0
sales_price       0
sales_quantity    0
dtype: int64

In [17]:
#Rename the 'Unnamed: 0' column to 'Client_Id'
df.rename(columns={'Unnamed: 0': 'Client_Id'}, inplace=True)

df

,Client_Id,date,category_id,sku_id,sales_price,sales_quantity
0,78161,2016-11-25,7,1108,457.60,1.0
1,81079,2016-11-18,7,2999,470.60,1.0
2,81177,2016-11-18,7,1428,717.60,1.0
3,81292,2016-11-18,7,3923,383.50,1.0
4,81416,2016-11-18,17,8075,18.85,2.0
...,...,...,...,...,...,...
226481,20778441,2020-10-14,7,21442,570.70,1.0
226482,20778451,2020-10-14,7,502340,505.70,3.0
226483,20778611,2020-10-14,7,723588,401.70,3.0
226484,20779790,2020-10-17,7,792124,778.70,1.0
226485,20794630,2020-10-23,7,798049,219.70,1.0

In [18]:
df.describe()
#we don't have negative values in sales_price and sales_quantity columns

,Client_Id,category_id,sku_id,sales_price,sales_quantity
count,2.264860e+05,226486.000000,226486.000000,226486.000000,226486.000000
mean,9.875883e+06,15.069594,497813.898607,109.033102,16.078857
std,5.664001e+06,4.625731,242446.818578,151.500911,184.248121
min,7.816100e+04,7.000000,1045.000000,1.027000,1.000000
25%,5.038020e+06,17.000000,398064.000000,38.220000,1.000000
50%,9.677966e+06,17.000000,550996.000000,51.350000,3.000000
75%,1.475875e+07,17.000000,702116.000000,71.500000,5.000000
max,2.079463e+07,23.000000,838924.000000,2923.700000,8069.000000

In [19]:
#check if the category_id is balanced
category_id_counts = df['category_id'].value_counts()
category_id_counts

category_id
17    160797
7      51959
23     13730
Name: count, dtype: int64